.header {
	background-color: $navy;
	padding:1rem;
	color:$white;
}
.header__logo {
	height: 6rem;
	width: 6rem;
	border-radius: 6rem;
}
	.header__logo > a {
		position: absolute;
		left:16px;top:16px;
	}
	.header__test:after{
		@include font-size(15px);
		transition:all .8s ease;
		content:'Home';
		text-align: center;
		position: absolute;
		left:16px;
		top:16px;
		opacity: 0;
		height: 6rem;
		width: 6rem;
		border-radius: 6rem;
		line-height: 6;
		background: $white;
	}
	.header__test:hover {
		.header__logo {
			transition:all .8s ease;
			opacity: 0;
			transform:rotate(360deg);
		}
	}
	.header__test:hover:after {
		opacity: 1;
	}
.header__user-infos {
	display: inline-block;
	vertical-align: top;
	padding:5px;
}