.layout {
	position: absolute;
	left:0;
	right:0;
	top:100px;
	bottom:150px;
	margin: 0;
	padding: 0;
	background-color: darken($gray, 2);
}
.index {
	position: relative;
	padding:10px;
	height:100%;
}
.index__block {
	margin: 0 1em;
}
.index__title {
	text-align: center;
	padding: 1em;
}
.index__form {
	padding: 1em;
}

