.profile {
	@extend %clearfix;
}

.profile__user {
	width:100%;
	padding:1%;
}
.profile__user--multiple {
	width:48%;
	float:left;
}
.profile__user:nth-child(odd) {
	background:$silver;
}
.profile__user:nth-child(even) {
	background:$gold;
}
.profile__block {
}

.profile__title {
	@include font-size(16px);
	color:$maroon;
	text-align:left;
}

.profile__recent {
	background:$lose;
	padding:10px;
	transition: .3s;
	margin:1px 0;
}
	.profile__recent:hover {
		background:$lose-hover;
	}


.profile__recent-win {
	background: $win;
}
	.profile__recent-win:hover {
		background: $win-hover;
	}

	.right {
		display:inline-block;
		float:right;
	}
	.left {
	display:inline-block;
	float:left;
	}