.profile {
	@extend %clearfix;
}

.profile__block {
	width:48%;
	float:left;
	padding:1%;
}
	.profile__block--recentGames {
		background:$gray;
	}
	.profile__block--stats {
		background:$silver;
	}
	.profile__block--runes {
		background:$maroon;
	}
	.profile__block--other {
		background:$gray;
	}

.profile__title {
	@include font-size(16px);
	color:$maroon;
	text-align:left;
}