.profile {
	@extend %clearfix;
}

.profile__block {
	width:48%;
	float:left;
	padding:1%;
}

.profile__title {
	@include font-size(16px);
	color:$maroon;
	text-align:left;
}

.profile__recent {
	background:$lose;
	padding:10px;
	transition: .3s;
	margin:1px 0;
}
	.profile__recent:hover {
		background:$lose-hover;
	}


.profile__recent-win {
	background: $win;
}
	.profile__recent-win:hover {
		background: $win-hover;
	}