<div class="layout">
	<div class="profile">
		<div class="profile__user" ng-class="{'profile__user--multiple': userProfiles.length > 1}" ng-repeat="userProfile in userProfiles">
			{{userProfile.name}}
			<div class="profile__block profile__block--recentGames">
				<div class="profile__title">Recent games:</div>
				<div class="profile__recent" ng-repeat="game in userProfile.recentGames" ng-class="{'profile__recent-win': game.stats.win}">
					<span>{{ game.championId}}</span>
					<span>Kills: {{game.stats.championsKilled}}</span>
					<span>Deaths: {{game.stats.numDeaths}}</span>
					<span>Assists: {{game.stats.assists}}</span>
				</div>
			</div>
			<div class="profile__block profile__block--stats">
				<div class="profile__title">Recent </div>
				{{userProfile.name}}
			</div>
			<div class="profile__block profile__block--runes">
				<div class="profile__title">Dont know yet</div>
				{{userProfile.name}}
			</div>
			<div class="profile__block profile__block--other">
				<div class="profile__title">Dont know yet</div>
				{{userProfile.name}}
			</div>
		</div>
	</div>
</div>
