.index {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #252525;
}
.index__block {
	margin: auto;
	position: absolute;
	top: 16%;
	left: 0;
	right: 0;
	background-color: #fff;
	width: 34rem;
	max-height: 37rem;
	border-radius: 1rem 1rem .5rem .5rem;
}
.index__logo {
	height: 292px;
	border-radius: 1rem 1rem 0 0;
}
.index__form {
	padding:1rem;
	text-align: center;
}

.index__select {
	margin-bottom:10px;
}